@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* globals.css */

body {
  font-family: var(--font-poppins);
}

h1, h2 {
  font-family: var(--font-playfair);
}

p, a {
  font-family: var(--font-open-sans);
}

.label {
  font-family: var(--font-lato);
}

.quote {
  font-family: var(--font-cormorant);
}

ul{
  display: flex
;
    list-style: none;
    gap: 30px
}

li a:hover {
  color: #5e3370;
}
/* global.css */
body.menu-open {
  overflow: hidden;
}

@media (max-width: 768px) {
          .desktop-nav {
            display: none !important;
          }
        }

/* In your globals.css */
@font-face {
  font-family: "PeaceSans";
  src: url("/fonts/peace_sans/PeaceSans.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
